@tailwind base;
@tailwind components;
@tailwind utilities;

/* تنظیمات پایه برای پشتیبانی از حالت دارک‌مود و فونت پیش‌فرض */
@layer base {
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    @apply antialiased bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100;
  }
}
